.start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    gap: 1em;
}

.scene {
    display: flex;
    flex-direction: column;
    place-content: flex-end;
    width: 100%;
    height: 100%;
    flex: 1;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.options {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.options :focus {
    outline: 4px auto -webkit-focus-ring-color;
}

.message-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    gap: 1em;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(114, 180, 241, 0.5);
    border-radius: 8px;
    color: #ffffff;
    font-size: 1.3rem;
    text-align: center;
    margin: 2em;
    cursor: pointer;
}

.message-box .text {
    display: inline-block;
    max-width: 100ch;
}

.message-box svg.icon {
    width: 1.2em;
    height: auto;
    vertical-align: text-bottom;
    max-width: 200px;
    max-height: 200px;
}

.message-box svg.icon.next {
    opacity: 1;
    animation: next 2s infinite ease-in-out;
    transition: opacity 0.25s;
}

.message-box svg.icon.next.hide {
    animation: none;
    opacity: 0;
}

@keyframes  next {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(0.5em);
    }
    100% {
        transform: translateX(0);
    }
}