.start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    gap: 1em;
}

.start-screen input {
    font-size: 2rem;
    padding: 0.5em 1em;
    border-radius: 0;
    border: 0px solid #646cff;
    border-bottom-width: 2px;
    background-color: transparent;
    color: #ffffff;
    text-align: center;
    transition: border-color 0.25s;
    margin-bottom: 16px;
}

.start-screen input:focus {
    outline: 0;
    border-width: 0;
    border-bottom-width: 2px;   
}

.start-screen button {
    opacity: 1;
    transition: opacity 1s;
    font-size: 1.5rem;
    margin-bottom: 64px;
}

.start-screen button:disabled {
    transition: opacity 0.3s;
    opacity: 0;
}

.loading {
    color: #ffffff;
    font-size: 1.3rem;
    text-align: center;
    margin: 2em;
    align-self: center;
}

.scene {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    animation: fade-in 0.5s ease-in-out;
    padding: 4rem 2rem;
    gap: 2rem;
}

.music-controls {
    position: absolute;
    top: 1em;
    left: 1em;
    color: white;
}

.music-controls .icon {
    width: 1.5em;
    height: auto;
    cursor: pointer;
    transition: transform 0.25s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

.options {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    background-color: rgba(2, 49, 97, 0.5);
    border: 2px solid rgba(2, 49, 97, 0.7);
    border-radius: 8px;
    padding: 1.5em;
    
    box-shadow: 5px 10px 10px rgba(6, 24, 43, 0.5);
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.options button:focus, .options button:hover {
    outline: 4px auto -webkit-focus-ring-color;
    color: white;
    background-color: rgb(2, 49, 97);
}

.options button {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(2, 49, 97);
    font-size: 2rem;
}

.message-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    gap: 1em;
    padding: 1em 2em;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid rgba(114, 180, 241, 0.5);
    border-radius: 8px;
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
    max-width: 100ch;
    margin: 0 auto;

}

.message-box .text {
    display: inline-block;
    max-width: 100ch;
}

.message-box svg.icon {
    width: 1.2em;
    height: auto;
    vertical-align: text-bottom;
    max-width: 200px;
    max-height: 200px;
}

.message-box svg.icon.next {
    opacity: 1;
    animation: next 2s infinite ease-in-out;
    transition: opacity 0.25s;
}

.message-box svg.icon.next.hide {
    animation: none;
    opacity: 0;
}

@keyframes  next {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(0.5em);
    }
    100% {
        transform: translateX(0);
    }
}